<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Dahaim #1</title>

    <title>@ViewBag.Title</title>

    <link rel="stylesheet" href="~/Content/bootstrap.min.css" />
    <link rel="stylesheet" href="~/Content/style.css">

</head>
<body>

    @{
        ViewBag.Title = "Index";
        if (Session["UserId"] == null)
        {
            Response.Redirect("~/Login/Index");
        }
    }
    <header>
        <div class="container-fluid" style="width:80%; padding-right: 0px; padding-left: 0px;">
            <nav class="navbar navbar-expand-lg text-center">
                <a class="navbar-brand" href="#index.html"><h1 id="logo"><span id="logoFirst">d</span>ahaim</h1></a>

                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ml-auto menu">

                        <li class="nav-link  ml-3" style="color:burlywood;margin-right:25px;">Witaj, @Session["UserName"].ToString() ! </li>

                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Profil
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                @Html.ActionLink("Edytuj", "LogOut", "Login", null, new { @class = "nav-link" })
                                @Html.ActionLink("Usuń", "UserDelete", "UserDetails", null, new { @class = "nav-link" })
                                <div class="dropdown-divider"></div>
                                @Html.ActionLink("Wyloguj", "LogOut", "Login", null, new { @class = "nav-link" })
                            </div>
                        </li>

                        <li class="nav-item">
                            @Html.ActionLink("Strona główna", "index", "home", null, new { @class = "nav-link  ml-3" })

                        </li>
                    </ul>
                </div>

            </nav>
        </div>
    </header>

    @RenderBody()



<footer>
    <div class="conteiner">
        <p>Dahaim copywritr &copy 2020 | Mady by Łukasz Bekus</p>
    </div>
</footer>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>

