@model DahaimMVC.Models.User

@{
    ViewBag.Title = "UserDelete";
}
<div class="container">
    <h2 class="m-4 text-center">Usuwanie Studenta:</h2>

    <h3 class="text-danger text-center">Czy napewno chcesz usunąć tego studenta ?</h3>
    <div class="col-md-4 m-auto">
        <hr />
        <dl class="dl-horizontal">

            <dt>
                @Html.DisplayNameFor(model => model.Name)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Name)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Subname)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Subname)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.LanguageLvl)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.LanguageLvl)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Email)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Email)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.PhoneNumber)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.PhoneNumber)
            </dd>

        </dl>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color m-3">
                <input type="submit" value="Usuń" class="btn btn-danger m-1" />
                </div>
                <div class="text-center m-3">
                @Html.ActionLink("Powrót do listy studentów", "Index", "ControlPanel", null, new { @class = "btn btn-info m-1" })
            </div>
        }
    </div>
</div>