@model IEnumerable<DahaimMVC.Models.User>

@{

    if (Session["UserName"] == null)
    {
        Response.Redirect("~/Admin/Index");
    }
}
@{
    Layout = "~/Areas/Admin/Views/Shared/_LayoutControlPanel.cshtml";
}

<div class="container">

    <h2 class="m-4">Studenci:</h2>
    <hr />
    <h3 class="text-center text-danger m-4">@TempData["Message"]</h3>
    <p>
        @Html.ActionLink("Dodaj studenta", "CreateUser",null, new { @class = "btn btn-info m-1" })
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Subname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PhoneNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LanguageLvl)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Subname)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PhoneNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LanguageLvl)
        </td>
        <td>
            @Html.ActionLink("Edycja", "UserEdit", new { id = item.UserId }) |
            @Html.ActionLink("Szczegóły", "UserDetails", new { id = item.UserId }) |
            @Html.ActionLink("Usuń", "UserDelete", new { id = item.UserId })
        </td>
    </tr>
        }

    </table>
</div>