@model DahaimMVC.Areas.Admin.Administrator
@{
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="container justify-content-center text-center">
    <h2 class="m-4">Admin:</h2>
    <hr />

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="col-md-4 text-center m-auto">

            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group text-left">
                @Html.LabelFor(model => model.AdminName, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col">
                    @Html.EditorFor(model => model.AdminName, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.AdminName, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group text-left">
                @Html.LabelFor(model => model.AdminPassword, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col">
                    @Html.EditorFor(model => model.AdminPassword, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.AdminPassword, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col">
                    <input type="submit" value="Login" class="btn btn-dark m-1" />
                    <input type="reset" value="Clear" class="btn btn-info m-1" />
                </div>
            </div>
        </div>
    }
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
</div>