
@{
    ViewBag.Title = "Home Page";
}

    <div>
        @Html.Partial("_WelcomePage")
        @Html.Partial("_OMnie")
        @Html.Partial("_Oferta")
        @Html.Partial("_Cytat")
        @Html.Partial("_Opinie")
        @Html.Partial("_Kontakt")
    </div>