@model IEnumerable<DahaimMVC.Areas.Shop.Models.OrdersModels.ShipmentAndPayment>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Order.Username)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsPayed)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PayedTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsSent)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SentTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsComplete)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Order.Username)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsPayed)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PayedTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsSent)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SentTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsComplete)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ShipmentAndPaymentId }) |
            @Html.ActionLink("Details", "Details", new { id=item.ShipmentAndPaymentId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ShipmentAndPaymentId })
        </td>
    </tr>
}

</table>
