@model DahaimMVC.Models.User

    <div class="container">
        <h2 class="m-4 text-center">Usuwanie Konta:</h2>

        <h3 class="text-danger text-center">Czy napewno chcesz swoje konto ?</h3>
        <div class="col-md-4 m-auto">
            <hr />

            <div class="dl-horizontal">
                <p>Jeśli jesteś pewien, wpisz poniżej: <span class="text-danger">Swóje hasło:</span></p>
            </div>

            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="col">
                    @Html.EditorFor(model => model.UserPassword, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.UserPassword, "", new { @class = "text-danger" })
                </div>
                <h3 class="text-center text-danger m-4">@TempData["BadPass"]</h3>
                <div class="form-actions no-color m-3">
                    <input type="submit" value="Usuń" class="btn btn-danger m-1" />
                </div>
                <div class="text-center m-3">
                    @Html.ActionLink("Powrót", "Index", "UserDetails", null, new { @class = "btn btn-dark m-1" })
                </div>
            }
        </div>
        <script src="~/Scripts/jquery-3.4.1.min.js"></script>
        <script src="~/Scripts/jquery.validate.min.js"></script>
        <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    </div>
