
<div class="navbar navbar-expand-lg">

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContentUser">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContentUser">
        <ul class="navbar-nav m-auto menu">


            <li class="nav-item">
                @Html.ActionLink("A0", "A0", "UserDetails", null, new { @class = "nav-link  ml-3" })
            </li>

            <li class="nav-item">
                @Html.ActionLink("A1", "A1", "UserDetails", null, new { @class = "nav-link  ml-3" })
            </li>

            <li class="nav-item">
                @Html.ActionLink("A2", "A2", "UserDetails", null, new { @class = "nav-link  ml-3" })
            </li>

            <li class="nav-item">
                @Html.ActionLink("B1", "B1", "UserDetails", null, new { @class = "nav-link  ml-3" })
            </li>

            <li class="nav-item">
                @Html.ActionLink("B2", "B2", "UserDetails", null, new { @class = "nav-link  ml-3" })
            </li>

            <li class="nav-item">
                @Html.ActionLink("C1", "C1", "UserDetails", null, new { @class = "nav-link  ml-3" })
            </li>

            <li class="nav-item">
                @Html.ActionLink("C2", "C2", "UserDetails", null, new { @class = "nav-link  ml-3" })
            </li>
        </ul>
    </div>

</div>
