@model DahaimMVC.Areas.Shop.Models.Product

@{
    ViewBag.Title = "Details";
}

<h2 class="m-4 text-center">Szczególy produktu:</h2>

<div class="col-md-4 m-auto">
    <hr />
    <dl class="dl-horizontal">

        <dt>
            <img src="@Model.ProductArtUrl" alt="Produkt" width="300" />
        </dt>

        <dt>
            @Html.DisplayNameFor(model => model.Author.AuthorName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Author.AuthorName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Type.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Type.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>

    </dl>
</div>
<p>
    <div class="text-center m-3">
        @Html.ActionLink("Edytuj", "Edit", new { id = Model.ProductId } ,new { @class = "btn btn-info m-1" })
    </div>

    <div class="text-center m-3">
        @Html.ActionLink("Powrót do listy produktów", "Index", "ShopManager", null, new { @class = "btn btn-dark m-1" })
    </div>
</p>
